body{
    background-color: lightgray;
    margin: 0;
}
.header_{
    width: 100%;
    background-color: white;
    margin: 0;
    display: flex;
    /* padding: 0px 0px; */
    
}
.header_ div{
    padding: 20px 0px 20px 300px;
}
.header_ h1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
div.feed{
    background-color: lightgray;
    align-items: center;
    width: 600px;
    margin:auto;
}
.post{
    background-color: white;
    margin: 30px;
}
.postHeader{
    width: 100%;
    display: flex;
}
.postHeader div p{
    margin: 0;padding: 10px;
}
.postTitle{
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}
.postDate{
    float: right;
}
.postFooter{
    padding: 7px;
}
.post img {
    box-sizing: content-box;
    width: 100%;
    height: fit-content;
}
