/* * {
    border-style: dashed;
    border-color: red;
} */
.header_{
    /* border-style: dashed;
    border-color: red; */
    margin: 10px 10px 10px 10px;
    text-align: center;
    width: 100%;
}
.header_ h1{
    align-content: center;
}
.feed{
    background-color: lightgray;
    align-items: center;
}
.post{
    background-color: white;
}
.postHeader{
    display: flex;
}
.postHeader div{
    /* border-style: dashed; */
    /* border-color: bisque; */
    float: right;
}
.post img {
    box-sizing: content-box;
    width: 400px;
    height: fit-content;
}
